.paper {
  position: relative;
  width: 210mm;
  height: 297mm;
  top: 20px;
  margin-left: calc(50% - 105mm);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 5px 10px #888888;
  text-align: left;
  padding: 10mm;
}

.placeholder {
  color: #888888;
}

.instance {
  position: absolute;
}