.panel {
  position: fixed;
  right: 0;
  top: 150px;
  width: 180px;
  height: 300px;
  background-color: white;
  border: 1px solid #888888;
}

td {
  text-align: left;
}

td:first-child {
  text-align: right;
  font-weight: 700;
}